<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Tifacta" verbose="1" parallel="tests"
	thread-count="1" configfailurepolicy="continue">
	<listeners>
		<listener class-name="com.trifacta.utilities.Reporting" />
	</listeners>
	<test name="Tifacta" annotations="JDK" preserve-order="true">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.trifacta.runner.Runner" />
		</classes>
	</test>

</suite>